body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
    color: blue;
}

p {
    font-size: 16px;
}

.orange-img {
    background-color: red;
    border-radius: 25px;
    width: 135px;
}

.broccoli-img {
    background-color: yellow;
    border-radius: 25px;
    width: 135px;
}
